#flexi-modal-portal {
  position: absolute;
  /* 需要结合其他顶层绝对布局的组件来排层级，防止显示异常 */
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.flexi-empty {
  min-width: 500px;
  min-height: 300px;
  background-color: #ccc;
}

.flexi-container {
  position: absolute;
  z-index: 1;
  min-width: 500px;
  pointer-events: auto;
}

.flexi-container header {
  position: absolute;
  height: 36px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 501;
  cursor: move;
  border-radius: 2px 2px 0 0;
}

.flexi-title {
  font-size: 16px;
}

.flexi-btns {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.flexi-btns > span {
  cursor: pointer;
  padding: 4px;
}

.flexi-content {
  margin-top: 36px;
  height: calc(100% - 36px);
}
